* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.col-header {
  background-color: #000000;
}

.col-filter {
  background-color: #1c1c1c;
  color: #dddddd;
}

.col-pokedex {
  background-color: #303030;
}